.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 4rem 1rem 1rem;
  box-sizing: border-box;
}

.dashboard-content {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  margin-top: 1rem;
}

.dashboard-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.dashboard-card {
  text-align: left;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  width: 100%;
}

.dashboard-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.task-header h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.task-completed {
  color: green;
}

.task-pending {
  color: red;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.task-time {
  font-size: 0.9rem;
  color: #666;
}

.edit-button {
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 30px;
  margin-bottom: -90px;
}

.header-text {
  font-weight: bold;
  text-decoration: underline;
}

.dashboard-card.transparent-card {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 30px;
}

.task-footer.add-button {
  margin-bottom: 20px;
}

.Checkbox {
  display: flex;
  margin-left: -10px;
}